<%= form_with model: @article, html: { multipart: true }, url: path, method: :method, class: "articles_form", local: true do |f| %>

  <%= f.label :title, 'Title:' %><br>
  <%= f.text_field :title %><br>
  <%= f.label :body, 'Body:' %><br>
  <%= f.text_area :body %><br/>
  <%= f.label :tag_list, 'Tags:' %><br>
  <%= f.text_field :tag_list %><br>
  <%= f.label :image, 'Attach an Image' %><br>
  <%= f.file_field :image %><br/>
<p>
  <%= f.submit button_text %>
</p>
<% end %>